{% extends "base.html" %}
{% block title %}{% if view.object %}Modifier{% else %}Nouvel{% endif %} employé — TIA INFO BUILD{% endblock %}
{% block page_titre %}{% if view.object %}Modifier{% else %}Nouvel{% endif %} employé{% endblock %}
{% block content %}
<div class="card" style="max-width:700px;">
    <div class="card-body p-4">
        <form method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}
            <div class="row g-3">
                <div class="col-md-6"><label class="form-label fw-semibold">Matricule *</label>{{ form.matricule }}
                </div>
                <div class="col-md-3"><label class="form-label fw-semibold">Prénom *</label>{{ form.prenom }}</div>
                <div class="col-md-3"><label class="form-label fw-semibold">Nom *</label>{{ form.nom }}</div>
                <div class="col-md-6"><label class="form-label fw-semibold">Poste</label>{{ form.poste }}</div>
                <div class="col-md-3"><label class="form-label fw-semibold">Date d'embauche</label>{{ form.date_embauche
                    }}</div>
                <div class="col-md-3"><label class="form-label fw-semibold">Salaire (Ar)</label>{{ form.salaire_base }}
                </div>
                <div class="col-md-6"><label class="form-label fw-semibold">Téléphone</label>{{ form.telephone }}</div>
                <div class="col-md-6"><label class="form-label fw-semibold">Adresse</label>{{ form.adresse }}</div>
                <div class="col-md-6"><label class="form-label fw-semibold">Statut</label>{{ form.statut }}</div>
            </div>
            <div class="d-flex gap-2 mt-4">
                <button type="submit" class="btn btn-tia-primary px-4">{% if view.object %}Enregistrer{% else %}Créer{%
                    endif %}</button>
                <a href="{% url 'rh:employe_liste' %}" class="btn btn-outline-secondary">Annuler</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}